<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techjumper.corelib">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
