<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.techjumper.polyhome.polyhomebhost">

    <permission
        android:name="com.techjumper.polyhome.polyhomebhost.permission.ACCESS"
        android:protectionLevel="normal"/>

    <application
        android:name=".system.HostApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".mvp.v.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan|">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.HostService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.techjumper.polyhome.polyhomebhost.MESSENGER.ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.HomeDaemonService"
            android:process=":remote"/>
        <service
            android:name=".service.HomeDaemonService$FakeService"
            android:process=":remote"/>

        <service
            android:name=".service.BHostDaemonService"
            android:process=":remote"/>
        <service
            android:name=".service.BHostDaemonService$FakeService"
            android:process=":remote"/>

        <receiver
            android:name=".receiver.AdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lock"/>
            <intent-filter>
                <action
                    android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.HostMessageRecive"
            android:exported="true">
            <intent-filter>
                <action android:name="action_bhost_lock_screen"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".by_function.log.service.LogAlarmService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".service.AlarmReceiveService"/>

    </application>

</manifest>